@font-face {
  font-family:  "Source Sans Pro";
  src:          url('../fonts/source-sans-pro/300/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
                url('../fonts/source-sans-pro/300/SourceSansPro-Light.woff') format('woff'),
                url('../fonts/source-sans-pro/300/SourceSansPro-Light.ttf')  format('truetype'),
                url('../fonts/source-sans-pro/300/SourceSansPro-Light.svg#SourceSansPro-Light') format('svg');
  font-style:   normal;
  font-weight:  300;
}